{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block title %}Edit party{% endblock %}


{% block nav-party %}active{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-auto">

      <h1>Edit your party</h1>

      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary">Save</button>
      </form>

    </div>
  </div>

  <div class="row">
    <div class="col">

      <h3>Party members</h3>

      <ul>
        {% for member in members %}
          <form action="{% url 'delete_party_member' object.id member.id %}" method="get">
            <li class="my-1">
              <span class="mr4">{{ member.username }}</span>
              {% if request.user.party.admin_id != member.id %}
                <button class="btn btn-outline-danger btn-sm ms-2">Delete</button>
              {% endif %}
            </li>
          </form>
        {% endfor %}
      </ul>

      <a href="{% url 'add_party_member' request.user.party_id %}">Add a new party member</a>

    </div>
  </div>

{% endblock %}
