{% extends 'base.html' %}


{% block title %}Edit party{% endblock %}


{% block nav-party %}active{% endblock %}


{% block content %}

  <div class="row">
    <div class="col">

      <h1>Edit your party</h1>

      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
      </form>

    </div>
  </div>

  <div class="row">
    <div class="col">

      <h3>Party members</h3>

      <ul>
        {% for member in members %}
          <form action="{% url 'party_delete_member' object.id member.id %}" method="get">
            <li class="my-1">
              <span class="mr4">{{ member.username }}</span>
              {% if request.user.party.admin_id != member.id %}
                <button class="btn btn-outline-danger btn-sm ms-2">Delete</button>
              {% endif %}
            </li>
          </form>
        {% endfor %}
      </ul>

    </div>
  </div>

{% endblock %}
