{% extends 'base.html' %}


{% block title %}List maps{% endblock %}


{% block style %}
  <style>
      .card.hover-shadow:hover {
          box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);;
      }
  </style>
{% endblock %}


{% block nav-map %}active{% endblock %}


{% block content %}

  <div class="row">
    <div class="col">

      <h1>Maps</h1>

      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for map in maps %}
          <div class="col">
            <div class="card hover-shadow">
              <img class="card-img-top" src="{{ map.thumbnail_urlpath }}" alt="{{ map.name }}">
              <div class="card-body">
                <h4 class="card-title mb-3">{{ map.name }}</h4>
                  <a href="{% url 'show_map' map.id %}" class="stretched-link"></a>

              </div>
            </div>
          </div>
        {% empty %}
          <div class="col">
            <p>No maps yet.</p>
          </div>
        {% endfor %}
      </div>

      {% if request.user.is_party_admin %}
        <a href="{% url 'create_map' %}" class="btn btn-primary">+ Add map</a>
      {% endif %}

    </div>
  </div>

{% endblock %}
