{% extends 'base.html' %}

{% load static %}


{% block title %}Map{% endblock %}


{% block nav-map %}active{% endblock %}


{% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin="" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'awesome_markers/leaflet.awesome-markers.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">

  <style>
    html, body, #map {
      width:100%;
      height:100%;
      margin:0;
      padding:0;
      background-color: #B0B0B0
    }
    #map {
      height: calc(100% - 50px);  /* subtract navbar height */
    }

  </style>

{% endblock %}


{% block body %}

    {% csrf_token %}

  <div id="map"></div>


  <div class="offcanvas offcanvas-end" tabindex="-1" id="markerOffcanvas">
    <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel" class="pt-2">Add new marker</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="marker-default collapse show multicollapse">
        <div class="marker-description mb-4" style="white-space:pre-wrap;"></div>
        <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#markerOffcanvas .multicollapse">Edit</button>
      </div>

      <form class="collapse multicollapse" action="javascript:sendMarkerData()">
        <div class="row mb-3">
          <label class="form-label">
            Title
            <input class="form-control" type="text" name="name" value="" required />
          </label>
        </div>

        <div class="row mb-3">
          <label class="form-label">
            Description
            <textarea class="form-control" name="description" placeholder="" rows="8"></textarea>
          </label>
        </div>

        <div class="row mb-3">
          <label class="form-label">
            Color
            <select class="form-select" name="color" required>
              {% for color_option in marker_color_options %}
                <option value="{{ color_option }}" {% if color_option == 'blue' %}selected{% endif %}>
                  {{ color_option }}
                </option>
              {% endfor %}
            </select>
          </label>
        </div>

        <div class="row mb-3">
          <label class="form-label">
            Icon
            <input class="form-control" type="text" name="icon" value="circle" required />
          </label>
          <div class="form-text"><a href="https://fontawesome.com/v5/search?m=free">See available icons</a></div>
        </div>

        <div class="row mb-3">
          <label class="form-label">
            Icon color
            <input class="form-control" type="color" name="icon_color" value="#ffffff" required />
          </label>
        </div>

        <div class="row mb-3">
          <label class="form-label">
            Select layer
            <select class="form-select" name="layer_id" required>
              {% for layer in layers %}
                <option value="{{ layer.id }}" {% if forloop.first %}selected{% endif %}>
                  {{ layer.name }}
                </option>
              {% endfor %}
            </select>
          </label>
        </div>

        <input type="hidden" name="id" value="" />
        <input type="hidden" name="latitude" />
        <input type="hidden" name="longitude" />

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>
  </div>


  <div class="offcanvas offcanvas-end" tabindex="-1" id="layersOffcanvas">
    <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel">Layers</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

      {% for layer in layers %}
        <div class="row">
          <div class="col">
            <form>
              <label class="form-label">
                Layer name
                <input class="form-control" type="text" name="name" value="{{ layer.name }}" required />
              </label>

              <label class="form-label">
                Show at zoom level
                <input type="number" class="form-control" name="show_at_zoom_level"
                       value="{{ layer.show_at_zoom_level }}"
                       min="{{ map_obj.min_zoom }}" max="{{ map_obj.max_zoom }}" step="1">
              </label>

              <input type="hidden" name="id" value="{{ layer.id }}" />

              <br />

              <button type="submit" class="btn btn-primary">Submit</button>

            </form>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>

{% endblock %}


{% block script %}

<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"
          integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"></script>
  <script src="{% static 'awesome_markers/leaflet.awesome-markers.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>

  <script src="{% static 'rastercoords.js' %}"></script>

  <script>
      let map;
      let component_layers = [];
      let layer_control;
      let draggable_markers = false;
      let permanent_tooltips = false;
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

      (function setupMap() {
          let img = [
              {{ map_obj.width }},
              {{ map_obj.height }},
          ]
          map = L.map('map', {
              crs: L.CRS.Simple,
          })
          const raster_coords = new L.RasterCoords(map, img)
          map.setView(raster_coords.unproject([img[0], img[1]]), 2)

          L.tileLayer('{{ map_obj.tiles_urlpath }}{z}/{x}/{y}.png', {
              noWrap: true,
              bounds: raster_coords.getMaxBounds(),
              minZoom: {{ map_obj.min_zoom }},
              maxZoom: {{ map_obj.max_zoom }},
          }).addTo(map)

          layer_control = L.control.layers({}, {}, {collapsed: false}).addTo(map);

          getComponents();

          L.easyButton('fa-list', prepareLayersOffcanvas, 'layers').addTo(map);

          L.easyButton({
              states: [{
                  stateName: 'unlock-markers',
                  icon: 'fa-unlock',
                  title: 'unlock marker positions',
                  onClick: function(btn) {
                      draggable_markers = true;
                      refreshComponents();
                      btn.state('lock-markers');
                  }
              }, {
                  stateName: 'lock-markers',
                  icon: 'fa-lock',
                  title: 'lock marker positions',
                  onClick: function(btn) {
                      draggable_markers = false;
                      refreshComponents();
                      btn.state('unlock-markers');
                  }
              }]
          }).addTo(map);

          L.easyButton({
              states: [{
                  stateName: 'show-labels',
                  icon: 'fa-tag',
                  title: 'show labels',
                  onClick: function(btn) {
                      permanent_tooltips = true;
                      refreshComponents();
                      btn.state('hide-labels');
                  }
              }, {
                  stateName: 'hide-labels',
                  icon: 'fa-tag',
                  title:  'hide labels',
                  onClick: function(btn) {
                      permanent_tooltips = false;
                      refreshComponents();
                      btn.state('show-labels');
                  }
              }]
          }).addTo(map);

          map.on('dblclick', prepareNewMarkerOffcanvas);

          map.on('zoomend', setLayerVisibility);

      })();

      function refreshComponents() {
          clearComponents();
          getComponents();
      }

      function clearComponents() {
          while (component_layers.length > 0) {
              let layer = component_layers.pop();
              layer_control.removeLayer(layer);
              map.removeLayer(layer);
          }
      }

      function getComponents() {
          const xhttp = new XMLHttpRequest();
          xhttp.onload = function() {
              const data = JSON.parse(xhttp.responseText);
              for (let layer of data) {
                  let layer_group = L.layerGroup([]).addTo(map);
                  layer_group.show_at_zoom_level = layer.show_at_zoom_level;
                  component_layers.push(layer_group);
                  layer_control.addOverlay(layer_group, layer.name);
                  for (let marker of layer.markers) {
                      const icon = L.AwesomeMarkers.icon({
                          markerColor: marker.color,
                          icon: marker.icon,
                          iconColor: marker.icon_color,
                      });
                      L.marker(
                          [marker.latitude, marker.longitude],
                          {
                              _data: marker,
                              icon: icon,
                              draggable: draggable_markers,
                          },
                      )
                          .addTo(layer_group)
                          .bindTooltip(marker.name, {permanent: permanent_tooltips})
                          .on('moveend', moveMarker)
                          .on('click', prepareExistingMarkerOffcanvas);
                  }
              }
              setLayerVisibility();
          }
          xhttp.open("GET", "{% url 'get_components' map_obj.pk %}");
          xhttp.send();
      }

      function setLayerVisibility() {
          const zoom = map.getZoom();
          for (let layer of component_layers) {
              if (zoom < layer.show_at_zoom_level) {
                  map.removeLayer(layer);
              } else {
                  map.addLayer(layer);
              }
          }
      }

      function prepareNewMarkerOffcanvas(event) {
          const offcanvas = document.getElementById('markerOffcanvas');
          offcanvas.querySelector('h5').innerHTML = 'Add new marker';
          const form = offcanvas.querySelector('form');
          form.reset();
          form.querySelector('input[name="id"]').value = '';
          form.querySelector('input[name="latitude"]').value = event.latlng.lat;
          form.querySelector('input[name="longitude"]').value = event.latlng.lng;
          bootstrap.Collapse.getOrCreateInstance(offcanvas.querySelector('.marker-default')).hide();
          bootstrap.Collapse.getOrCreateInstance(form).show();

          bootstrap.Offcanvas.getOrCreateInstance(offcanvas).show();

          let marker = L.marker([event.latlng.lat, event.latlng.lng]).addTo(map);

          offcanvas.addEventListener('hide.bs.offcanvas', function() {
              map.removeLayer(marker);
          }, {once: true})
      }

      function prepareExistingMarkerOffcanvas(event) {
          const offcanvas = document.getElementById('markerOffcanvas');
          const form = offcanvas.querySelector('form');
          const marker = event.sourceTarget.options._data;
          offcanvas.querySelector('h5').innerHTML = marker.name;
          offcanvas.querySelector('.marker-description').innerHTML = marker.description;
          form.querySelector('input[name="id"]').value = marker.id;
          form.querySelector('input[name="name"]').value = marker.name;
          form.querySelector('textarea[name="description"]').value = marker.description;
          form.querySelector('input[name="latitude"]').value = marker.latitude;
          form.querySelector('input[name="longitude"]').value = marker.longitude;
          form.querySelector('select[name="layer_id"]').value = marker.layer_id;
          form.querySelector('select[name="color"]').value = marker.color;
          form.querySelector('input[name="icon"]').value = marker.icon;
          form.querySelector('input[name="icon_color"]').value = marker.icon_color;
          offcanvas.addEventListener('hidden.bs.offcanvas', function () {
              bootstrap.Collapse.getOrCreateInstance(offcanvas.querySelector('.marker-default')).show();
              bootstrap.Collapse.getOrCreateInstance(form).hide();
          });
          bootstrap.Offcanvas.getOrCreateInstance(offcanvas).show();
      }

      function prepareLayersOffcanvas(event) {
          const offcanvas = document.getElementById('layersOffcanvas');
          offcanvas.querySelectorAll('form').forEach(function(el) {
              el.addEventListener('submit', sendLayerData);
          });
          bootstrap.Offcanvas.getOrCreateInstance(offcanvas).show();
      }

      function sendMarkerData() {
          const offcanvas = document.getElementById('markerOffcanvas');
          const form = offcanvas.querySelector('form');
          const xhttp = new XMLHttpRequest();
          xhttp.onload = function() {
              bootstrap.Offcanvas.getOrCreateInstance(offcanvas).hide();
              refreshComponents();
          }
          xhttp.open("POST", "{% url 'upsert_marker' map_obj.id %}");
          xhttp.setRequestHeader("X-CSRFToken", csrftoken)
          xhttp.send(new FormData(form));
      }

      function sendLayerData(event) {
          event.preventDefault();
          const xhttp = new XMLHttpRequest();
          xhttp.onload = function() {
              refreshComponents();
          }
          xhttp.open("POST", "{% url 'upsert_layer' map_obj.id %}");
          xhttp.setRequestHeader("X-CSRFToken", csrftoken)
          xhttp.send(new FormData(event.target));
      }

      function moveMarker(event) {
          const xhttp = new XMLHttpRequest();
          xhttp.open("POST", "{% url 'update_marker_coords' map_obj.id %}");
          xhttp.setRequestHeader("Content-type", "application/json");
          xhttp.setRequestHeader("X-CSRFToken", csrftoken)
          xhttp.send(JSON.stringify({
              id: event.target.options._data.id,
              latitude: event.target._latlng.lat,
              longitude: event.target._latlng.lng,
          }));
      }



  </script>

{% endblock %}
